body{
    background-color: rgb(186, 230, 120);


}
header img{ 
    width: 190px;
    height: 190px;
    border-radius: 1%;
    border: 15px solid rgb(186, 230, 120);}
    
.center{
    text-align:center;
}